<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="/styles/Game.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap" rel="stylesheet">
</head>
<body>
    <div id="gameContainer"></div>

    <p id="enemies-counter">Inimigos derrotados: 0</p>
    <p id="playerLife-counter">Vida: 10</p>
    <p id="round-counter">Rodada: 1</p>
    <p id="gold-counter">Ouro: 0</p>
    <p id="playerFreeze-counter">Gelo: 0</p>
    <p id="playerBomb-counter">Kazakhstan Bomb: 0</p>
</body>
<script type="module" src="/scripts/game.js"></script>
</html>