<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/Home.css">
</head>
<body>
    <div class="container">
        <h1>Tomorrow Lands</h1>
        <img src="/images/example" alt="Logo do TomorrowLands" class="logo">
        
        <% if (lastRound > 0 && defeatedEnemies > 0) { %>
            <p>Rodada alcançada: <%= lastRound %></p>
            <p>Inimigos derrotados: <%= defeatedEnemies %></p>
        <% } %>

        <br>
        
        <button id="start-game">Iniciar Jogo</button>
    </div>

    <script>
        document.getElementById('start-game').addEventListener('click', () => {
            window.location.href = '/game';
        });
    </script>
</body>
</html>
