* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden; 
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#player {

    width: 50px;
    height: 80px; 
    background-color: blue;

    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.enemy {
    
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%; 

}

#enemy1 {
    --enemy-size: 50px;
    width: 50px;
    height: 50px;
    background-color: #82c767;
}

#enemy2 {
    --enemy-size: 65px; 
    width: 65px;
    height: 65px;
    background-color: #42bcc0;
}

#enemy3 {
    --enemy-size: 80px; 
    width: 80px;
    height: 80px;
    background-color: #c72a2a;
}

#enemy4 {
    --enemy-size: 100px; 
    width: 100px;
    height: 100px;
    background-color: #441272;
}

#enemy5 {
    --enemy-size: 125px; 
    width: 125px;
    height: 125px;
    background-color: #1f4907;
}

.boss{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}

#boss1{
    --boss-size: 100px;
    width: 100px;
    height: 100px;
    background-color: #b2ccca;
}

#boss2{
    --boss-size: 150px;
    width: 150px;
    height: 150px;
    background-color: #792323;
}

#boss3{
    --boss-size: 300px;
    width: 300px;
    height: 300px;
    background-color: rgb(1, 24, 24);
}

#boss4{
    --boss-size: 200px;
    width: 200px;
    height: 200px;
    background-color: #ff00f2;
}

.tower {
    width: 50px;
    height: 50px;
    background-color: gray;
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
}

/* Contadores: */

p {
    font-size: 20px;
    color: black;
}

#enemies-counter {
    position: absolute;
    top: 10px;
    right: 10px;
}

#playerLife-counter {
    position: absolute;
    top: 10px;
    left: 10px;
}

#round-counter {
    position: absolute;
    top: 40px;
    left: 10px;
}

#gold-counter {
    position: absolute;
    top: 70px;
    left: 10px;
}

#playerFreeze-counter{
    position: absolute;
    top: 40px;
    right: 10px;
}

#playerBomb-counter{
    position: absolute;
    top: 70px;
    right: 10px;
}

#shop{
    position: absolute;
    left: calc(50% - 500px);
    top: calc(50% - 350px);
    width: 1000px;
    height: 700px;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}


#shop-title{
    position: absolute;
    top: 15px;
    left: 500px;
    color: white;
}

#shop-btnExit{
    width: 80px;
    height: 20px;
    color: white;
    background-color: gray;
    position: absolute;
    bottom: 15px;
    right: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
}

.shop-item{
    width: 100px;
    height: 130px;
    border: '1px solid gray';
    margin-left: 5px;
    padding: '10px';
    cursor: 'pointer';
    background-color: gray;
    text-align: center;
}

#instruction {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: yellow;
    padding: 10px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 5px;
}
