* {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: white;
    text-align: center;
    margin-top: 100px;

    background-image: url('/images/initialScreenBackground.jpg');
}

h1 {
    margin: 150px 0px 0px 0px;
    font-size: 100px;
}

#storyText {
    font-size: 40px;
}

.container {
    margin: auto;
    width: 50%;
}

.logo {
    width: 200px;
    margin: 20px 0;
}

button {
    background-color: #61dafb;
    border: none;
    padding: 15px 30px;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

button:hover {
    background-color: #21a1f1;
}

#container-lore{
    background-color: rgba(0, 0, 0, 0.8);
    height: 510px;
    border-radius: 30px;
}